<% body_title = capture do %>
  <%= yield :title if content_for? :title %>
<% end %>
<div class="container">
  <h1 class="page-title"><%= body_title %></h1>
  <div class="content">
    <%= render "layouts/flash" %>
    <% if content_for? :content %>
      <%= yield :content %>
    <% else %>
      <%= yield %>
    <% end %>
  </div>
</div>
