<!DOCTYPE html>
<html>
  <head>
    <meta content="width=device-width, user-scalable=no, initial-scale=1" name="viewport"/>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag :modernizr %>
    <%= csrf_meta_tags %>
    <%= render "layouts/shim" %>
    <%= render "layouts/icons" %>
  </head>
  <body>
    <%= render "layouts/navbar" %>
    <%= render "layouts/body" %>
    <%= render "layouts/footer" %>
  </body>
</html>
